{% extends "base.html" %}
{% block title %}Carrinho{% endblock %}
{% block content %}

<div class="card">
<h2>Seu Carrinho</h2>

{% for item in items %}
<div class="cart-row">
  <div>{{ item.product.name }}</div>
  <div>{{ item.qty_requested }}</div>
</div>
{% empty %}
<p>Vazio</p>
{% endfor %}

<div class="cart-actions">
  <a href="{% url 'q_products' %}" class="btn btn-secondary">Voltar</a>
  <form method="post" action="{% url 'q_submit_order' %}">
    {% csrf_token %}
    <button class="btn btn-primary">Enviar Pedido</button>
  </form>
</div>

</div>

{% endblock %}
