{% extends "base.html" %}
{% load static %}
{% block title %}Carrinho{% endblock %}
{% block content %}

<!-- CSRF -->
<form style="display:none;">
  {% csrf_token %}
</form>

<h2 class="area-title">
  CARRINHO DE PEDIDOS
</h2>

{% if items %}
<div class="cart-container">

  {% for item in items %}
  <div class="cart-item">

    <div class="cart-item-info">
      <strong>{{ item.product.name }}</strong>
    </div>

    <div class="cart-item-actions">

      <!-- QTD -->
      <input
        type="number"
        value="{{ item.qty_requested }}"
        min="0"
        onchange="updateItem(this, {{ item.id }})"
      >

      <!-- REMOVER -->
      <button
        type="button"
        class="btn-remove"
        onclick="removeItem(this, {{ item.id }})"
      >
        ❌
      </button>

    </div>

  </div>
  {% endfor %}

</div>

<!-- BOTÃO ENVIAR -->
<div style="margin-top:20px;">
  <a href="{% url 'q_submit_order' %}" class="btn-primary">
    ENVIAR PEDIDO
  </a>
</div>

{% else %}
<p>Carrinho vazio.</p>
{% endif %}

<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}