{% extends "base.html" %}
{% block content %}

<div class="card">
<h2>Categorias</h2>

{% for c in categories %}
<div class="cat-card">

    <div class="cat-header" onclick="toggleCat({{ c.id }})">
        {% if c.image %}
            <img src="{{ c.image.url }}" class="cat-img">
        {% endif %}

        <div>
            <strong>{{ c.name|upper }}</strong>
            <div>{{ c.products.count }} produto(s)</div>
        </div>
    </div>

    <div id="cat-{{ c.id }}" class="cat-products">
        <div class="prod-grid">

        {% for p in c.products.all %}
        <form method="post" class="prod-card">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ p.id }}">

            {% if p.image %}
                <img src="{{ p.image.url }}" class="prod-img">
            {% endif %}

            <div>{{ p.name }}</div>

            <input type="number" name="qty" value="1" min="1">

            <button class="btn">Adicionar</button>
        </form>
        {% endfor %}

        </div>
    </div>

</div>
{% endfor %}

</div>

<script>
function toggleCat(id){
  document.getElementById("cat-"+id).classList.toggle("open")
}
</script>

{% endblock %}
