{% extends "base.html" %}
{% block title %}Pedido {{ order.id }}{% endblock %}
{% block content %}

<h2 class="area-title">
  Queimados • Pedido #{{ order.id }}
</h2>

<script>
    window.CURRENT_ORDER_ID = {{ order.id }};
</script>

<div class="order-status-box">
  <span class="order-status-label">Status:</span>
  <span id="order-status-text"
        class="order-status-badge {{ order.status }}">
    {{ order.get_status_display|upper }}
  </span>
</div>

<div class="order-table-wrap">
  <table class="order-table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Pedido</th>
        <th>Recebido</th>
        <th>Resultado</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
      <tr>
        <td class="prod-name">
          {{ item.product.name|upper }}
        </td>

        <td>{{ item.qty_requested }}</td>

        <td>{{ item.qty_sent|default:0 }}</td>

        <td>
          {% if item.qty_sent == item.qty_requested %}
            <span class="result-ok">✔ OK</span>
          {% elif item.qty_sent < item.qty_requested %}
            <span class="result-missing">
              ⚠ Faltou {{ item.qty_requested|add:-item.qty_sent }}
            </span>
          {% elif item.qty_sent > item.qty_requested %}
            <span class="result-extra">
              🟢 Enviado a mais {{ item.extra_qty }}
            </span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="confirm-box" style="text-align:center; margin-top:25px;">
    <a href="{% url 'q_receive_order' order.id %}"
       class="x-save">
       CONFIRMAR RECEBIMENTO
    </a>
</div>

<div style="text-align:center; margin-top:20px;">
  <a href="{% url 'q_orders' %}" class="btn-small">
    Voltar
  </a>
</div>

<hr>

<div class="order-history">
  <h3>Histórico</h3>

  {% for log in order.logs.all %}
    <div class="CC">

      <span class="history-date">
        {{ log.created_at|date:"d/m/Y H:i:s" }}
      </span>

      •

      <strong>{{ log.user }}</strong>

      •

      {% if "complementar" in log.action|lower %}
        <span style="color:#f2c316; font-weight:bold;">
          📦 {{ log.action }}
        </span>
      {% else %}
        <span>
          {{ log.action }}
        </span>
      {% endif %}

    </div>
  {% empty %}
    <p>Sem histórico</p>
  {% endfor %}
</div>

<!-- TEMPO REAL -->
<script>
setInterval(() => {
    fetch(`/pedido/{{ order.id }}/poll/`)
        .then(res => res.json())
        .then(data => {

            if(data.status !== "{{ order.status }}"){
                location.reload();
            }

        });
}, 4000);
</script>

{% endblock %}