{% extends "base.html" %}
{% block title %}Meus Pedidos{% endblock %}
{% block content %}

<h2 class="area-title">
  MEUS PEDIDOS
</h2>

<div class="order-table-wrap">

  <table class="order-table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Data</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody>
      {% for o in orders %}
      <tr>
        <td class="prod-name">
          #{{ o.id }}
        </td>

        <td>
          <span class="order-status-badge">
            {{ o.get_status_display|upper }}
          </span>
        </td>

        <td>
          {{ o.created_at|date:"d/m/Y H:i" }}
        </td>

        <td>
          <a href="{% url 'q_order_detail' o.id %}" class="x-save">
            Abrir
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" style="text-align:center;">
          Nenhum pedido encontrado.
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

{% endblock %}
