{% extends "base.html" %}
{% load static %}

{% block title %}Produtos{% endblock %}

{% block content %}

<div class="card">
    <h2>Queimados • Produtos</h2>
    <p>Clique na categoria para abrir.</p>
</div>

<div class="card cart-box">
    🛒 Carrinho
    <span class="badge">{{ cart.items.count }}</span>

    <br><br>
    <a href="{% url 'q_cart' %}" class="btn-sec btn">Abrir carrinho</a>
</div>

{% for cat in categories %}
<div class="card">

    <div class="cat-head" onclick="toggleCat({{ cat.id }})">
        {% if cat.image %}
            <img src="{{ cat.image.url }}" width="48">
        {% endif %}

        <div>
            <strong>{{ cat.name }}</strong><br>
            {{ cat.products.all|length }} produto(s)
        </div>
    </div>

    <div id="cat-body-{{ cat.id }}" class="cat-body">

        <div class="grid">

        {% for p in cat.products.all %}
        {% if p.active %}
        <form method="post" class="prod-card">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ p.id }}">

            {% if p.image %}
                <img src="{{ p.image.url }}" class="prod-img">
            {% endif %}

            <strong>{{ p.name }}</strong><br>
            SKU {{ p.sku }}<br><br>

            <input type="number" name="qty" value="1" min="1">

            <button class="btn">Adicionar</button>
        </form>
        {% endif %}
        {% endfor %}

        </div>

    </div>

</div>
{% endfor %}

{% endblock %}
