{% extends "base.html" %}
{% block title %}Meus pedidos{% endblock %}

{% block content %}

<div class="card">
  <h2>Queimados • Meus pedidos</h2>

  <div class="toolbar">
    <a href="{% url 'q_products' %}" class="btn btn-secondary">Produtos</a>
    <a href="{% url 'q_cart' %}" class="btn btn-secondary">Carrinho</a>
  </div>
</div>

<div class="card">

<table class="table-xodo">
  <thead>
    <tr>
      <th style="width:90px">Pedido</th>
      <th>Criado em</th>
      <th style="width:140px">Status</th>
      <th style="width:110px"></th>
    </tr>
  </thead>

  <tbody>
    {% for o in orders %}
    <tr>

      <td class="td-id">#{{ o.id }}</td>

      <td>
        {{ o.created_at|date:"d/m/Y H:i" }}
      </td>

      <td>
        <span class="status {{ o.status|lower }}">
          {{ o.status }}
        </span>
      </td>

      <td class="td-action">
        <a href="{% url 'q_order_detail' o.id %}" class="btn btn-sm">
          Abrir
        </a>
      </td>

    </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="muted">Nenhum pedido ainda.</td>
      </tr>
    {% endfor %}
  </tbody>

</table>

</div>

{% endblock %}
