{% extends "base.html" %}
{% block title %}Queimados • Relatório{% endblock %}

{% block content %}

<h2 class="area-title">
  Queimados • Relatório
</h2>

<div class="report-box">
  <form method="get" class="report-form">

    <input type="date" name="start" value="{{ start }}">
    <input type="date" name="end" value="{{ end }}">

    <button class="btn-search">Buscar</button>

  </form>
</div>

{% if start and end %}
    {% if orders %}
    <div class="orders-wrap">

      {% for order in orders %}
      <div class="order-card-x">

        <div class="order-card-top">
          <div class="order-id">
            Pedido #{{ order.id }}
          </div>

          <div class="order-status-badge">
            {{ order.get_status_display }}
          </div>
        </div>

        <div class="order-date">
          Operador: {{ order.created_by }} |
          Pedido: {{ order.created_at|date:"d/m/Y H:i" }}
        </div>

        <div class="order-actions">
          <a href="{% url 'q_report_pdf_single' order.id %}"
             class="btn-export">
             Baixar PDF
          </a>
        </div>

      </div>
      {% endfor %}

    </div>

    <div class="report-actions" style="margin-top:30px;">
      <a href="{% url 'q_report_pdf' %}?start={{ start }}&end={{ end }}"
         class="btn-export">
         Baixar Todos do Filtro
      </a>
    </div>

    {% else %}
      <div style="margin-top:20px;" class="muted">
        Nenhum pedido encontrado nesse período.
      </div>
    {% endif %}
{% endif %}

{% endblock %}
