<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="topbar">
    <div class="topbar-left">
        Sistema de Pedidos Xodó
    </div>

    <div class="topbar-right">
        {% if request.user.is_authenticated %}
            <span class="user">Olá, {{ request.user.username }}</span>

            <a href="/admin/" class="btn-mini">Admin</a>

            <a href="{% url 'logout' %}" class="btn-mini btn-danger">Sair</a>
        {% endif %}
    </div>
</header>

<main class="page">
    {% if messages %}
        {% for m in messages %}
            <div class="alert">{{ m }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</main>

<script>
function toggleCat(id){
  const el = document.getElementById("cat-body-"+id);
  el.classList.toggle("open");
}
</script>

</body>
</html>
