{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="login-page">

  <div class="login-panel">

    <div class="login-brand">
      <img src="{% static 'img/logo_xodo.png' %}" class="login-logo">

      <p>Faça login e acesso ao painel de pedidos ❤</p>
    </div>

    <div class="login-form-box">

      <h3>Entrar</h3>

      {% if form.errors %}
        <div class="login-error">
          Usuário ou senha inválidos
        </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <div class="field">
          <label>Usuário</label>
          {{ form.username }}
        </div>

        <div class="field">
          <label>Senha</label>
          {{ form.password }}
        </div>

        <button class="login-btn">
          Entrar no sistema
        </button>
      </form>

    </div>

  </div>

</div>

{% endblock %}
